<div class="app-title">
    <p>devfinder</p>
    <div class="button-theme" (click)="toogleTheme()">
        <span>Light</span>
        <i nz-icon nzType="bulb"></i>
    </div>
</div>
<div class="container">
    <div class="search">
        <nz-input-group nzSearch>
            <input #searchInput class="input" type="text" nz-input (keyup)="search(searchInput.value)" placeholder="Search GitHub username..." />
        </nz-input-group>
    </div>
</div>
<div class="card" *ngIf="visible">
    <div>
        <img src="{{git.avatar_url}}" alt="{{git.name}}" class="avatar">
    </div>
    <div class="user-info">
        <h2>{{git.name}}</h2>
        <p>{{git.bio}}</p>
        <ul>
            <li><a href="https://github.com/claivemonteza?tab=repositories" target="_blank" rel="noopener noreferrer">Repos<strong>{{git.public_repos}}</strong></a></li>
            <li><a href="https://github.com/claivemonteza?tab=followers" target="_blank" rel="noopener noreferrer">Followers<strong>{{git.followers}} </strong></a></li>
            <li> <a href="https://github.com/claivemonteza?tab=following" target="_blank" rel="noopener noreferrer">Following<strong>{{git.following}}</strong></a> </li>
        </ul>

        <div class="footer">
            <div class="session">
                <div class="block">
                    <i class='bx bx-current-location'></i>
                     {{git.location}}
                </div>
                <div class="block">
                    <i nz-icon nzType="twitter" nzTheme="outline"></i>
                    <a href="http:// {{git.twitter_username}}" target="_blank" rel="noopener noreferrer"> {{git.twitter_username}}</a>
                </div>
            </div>

            <div class="session">
                <div class="block">
                    <i nz-icon nzType="link" nzTheme="outline"></i>
                    <a href="http://{{git.blog}}" target="_blank" rel="noopener noreferrer">{{git.blog}}</a>
                </div>
                <div class="block">
                    <i class='bx bxs-buildings' ></i>
                    {{git.company}}
                </div>
            </div>
        </div>
    </div>
</div>